$color:black;
@mixin border($color) {
	border:1px solid $color;
}
.question-main{
ul{
	background:red($color: #000000);
	@include border(red);
	> div{
		background: yellow;
		@include border(red);
		>li{
			color: red($color: #000000);
			@include border(red);
		}
	}
}
}
//white-space: nowrap; 这个属性，针对汉子会换行，添加不换行周可以实现左右滑动
.bigVlist{
	display: flex;
	flex-direction: row;
	overflow: auto;
	flex-wrap: nowrap;
	>.user{
		text-align: center;
		@include border(red);
		white-space: nowrap;
		padding-right:10px;
		padding-left: 10px;
	}
}
//滚动条样式
::-webkit-scrollbar{
	display: none;
}